/*
* author: the.one
*
* time: 2021-07-27
*
* desc: 公用header
*
* */

.t-header-section
  margin 0 auto;
  width 1240px;
  box-sizing border-box;
  height: 60px;
  line-height 60px;
  padding 0 20px;
  position relative;
  display flex;
  flex-direction row;
  z-index 9999999;
  text-align center
  .text
    display inline-block;
    font-size 26px;
    text-transform: uppercase;
    animation: rainbow 14s alternate infinite forwards;
    text-shadow:
            0px 0px 0 rgba(239, 147, 143, 0.5),
            -1px -1px 0 rgba(239, 148, 143, 0.5),
            -2px -2px 0 rgba(239, 148, 143, 0.5),
            -3px -3px 0 rgba(239, 148, 143, 0.5),
            -4px -4px 0 rgba(239, 148, 143, 0.5);


@keyframes rainbow {
  0% {
    color: #ef8fbf;
  }
  5% {
    color: #8fdfef;
  }
  10% {
    color: #efe18f;
  }
  15% {
    color: #ef8f9e;
  }
  20% {
    color: #978fef;
  }
  25% {
    color: #ef8fd2;
  }
  30% {
    color: #ef8fd2;
  }
  35% {
    color: #8fefd4;
  }
  40% {
    color: #8fef9e;
  }
  45% {
    color: #8fef9f;
  }
  50% {
    color: #ef948f;
  }
  55% {
    color: #d7ef8f;
  }
  60% {
    color: #ef8fa7;
  }
  65% {
    color: #998fef;
  }
  70% {
    color: #a7ef8f;
  }
  75% {
    color: #d98fef;
  }
  80% {
    color: #8fefbe;
  }
  85% {
    color: #ef8fa9;
  }
  90% {
    color: #d68fef;
  }
  95% {
    color: #ef8fe7;
  }
  100% {
    color: #8fef9e;
  }
}
