/*
* author: the.one
*
* time: 2021-07-27
*
* desc: 公用header
*
* */

.t-header-section
  margin 0 auto;
  width 1240px;
  box-sizing border-box;
  height: 60px;
  line-height 60px;
  padding 0 20px;
  position relative;
  display flex;
  flex-direction row;
  z-index 9999999;


