.el-carousel__item img {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  text-align center;
  height: auto;
  width: 100%
  line-height: 400px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
